<div class="container">
  <h1>Ajouter un tag</h1>

  <%= simple_form_for [@plant, @plant_tag] do |f| %>
    <%#= f.association :tag, label: "Select a tag" %>
    <%= f.input :tag, collection: Tag.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
    <%= f.submit "Add a tag", class: 'btn btn-primary' %>
  <% end %>
</div>
